<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.exam">
	<select id="mcmr" resultType="kr.co.sist.domain.EmpDomain" parameterType="int">
	 	select empno, ename, job, sal, to_char(hiredate, 'yyyy-mm-dd q"분기"') hiredateStr
	 	from emp
	 	where deptno=#{deptno}
	 </select>
</mapper>